<?php
/** @var Breeds $viewModel */
$viewModel = $block->getViewModel();
$breeds = $viewModel->getBreeds();
$breedinfo = $viewModel->getBreed();
$booksinfo = $viewModel->getBooks();

use Gamma\Dogs\ViewModel\Breeds; ?>

<div class="main-container" xmlns="http://www.w3.org/1999/html">
    <table class="table-left">
        <tbody class="tbody">
            <tr class="tr-table">
                <?php
                $breedCount = 0;
                foreach ($breeds['message'] as $breed => $subBreeds) {

                if ( ($breedCount % 6) == 0) { ?>
            <tr class="tr-table">
                <?php } ?>
                <td><a class="breed" id="<?php echo $breed; ?>"><?php echo $breed; ?> </a></td>
                <?php if ( ($breedCount+1 % 6) == 0 && $breedCount != 6) { ?>
            </tr>
            <?php }
            $breedCount++;

            } ?>
            </tr>
        </tbody>

    </table>
    <div class="breed-container-right">
        <?php if ($breedinfo) { ?>
            <div class="breed-info-container">
                <h2><?php echo $breedinfo->getName(); ?></h2>
                <img src="<?php echo $breedinfo->getImage(); ?>" alt="<?php echo $breedinfo->getName(); ?>">
                <h3>Sub-Breeds:</h3>
                <ul class="ul-left">
                    <?php if ($breedinfo->getSubBreeds()) {
                        foreach ($breedinfo->getSubBreeds() as $key => $subBreed) { ?>
                            <li><?php echo $subBreed ?></li>
                        <?php } ?>
                    <?php } else { ?>
                        <li>This Breed do not have sub-breeds</li>
                    <?php } ?>
                </ul>
                <h3>Books:</h3>
                <ul class="ul-left">
                    <?php if ($booksinfo) {
                        foreach ($booksinfo as $value) { ?>
                            <li><?php echo $value->getTitle(); ?></li>
                        <?php } ?>
                    <?php } ?>
                </ul>
            </div>
        <?php } ?>
    </div>
</div>

<script>

    require(['jquery', 'jquery/ui'], function($){
        jQuery('.breed').click(function() {
            var breed = jQuery(this.id)['selector'];
            window.location.assign(`/dogs/breeds/index/breed/${breed}`);
        });
    });

</script>