/*
  Remember, to render any changes in these .less files, do:
  rm -r var/view_preprocessed pub/static/frontend/ pub/static/deployed_version.txt
 */

.main-container{
  width: 100%;
  display: inline-block;
  background-color: #ebebeb;

  .table-left {
    width: 60%;
    display: inline-block;

    .tr-table {
      margin: 0;
      padding: 0;
    }

  }

  .tbody {
    width: 100%;
  }

}

.breed-container-right {
  width: 40%;
  display: inline-block;
  float: right;
  text-align: center;
}

.breed-info-container {
  display: inline;
}

.ul-left {
  float: left;
}